{{- if .Values.webhook.enabled -}}	
apiVersion: admissionregistration.k8s.io/v1	
kind: MutatingWebhookConfiguration	
metadata:	
  name: {{ include "k8s-pause.fullname" . }}	
  labels:	
    app.kubernetes.io/name: {{ include "k8s-pause.name" . }}	
    app.kubernetes.io/instance: {{ .Release.Name }}	
    app.kubernetes.io/managed-by: {{ .Release.Service }}	
    helm.sh/chart: {{ include "k8s-pause.chart" . }}	
  annotations:	
    {{- if .Values.certManager.enabled }}	
      cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "k8s-pause.certManager.servingCertName" . }}	
    {{- end }}	
webhooks:	
- admissionReviewVersions:	
  - v1	
  clientConfig:	
    service:	
      name: {{ include "k8s-pause.fullname" . }}	
      namespace: {{ .Release.Namespace }}	
      path: /mutate-v1-pod	
  failurePolicy: Fail	
  name: k8s-pause.infra.doodle.com	
  rules:	
  - apiGroups:	
    - ""	
    apiVersions:	
    - v1	
    operations:	
    - CREATE	
    - UPDATE	
    resources:	
    - pods	
  sideEffects: None	
{{- if .Values.webhook.namespaceSelector }}	
  namespaceSelector:	
    {{- .Values.webhook.namespaceSelector | nindent 4 }}	
{{- end -}}	
{{- end -}}
